.realisation {
  padding-top: 91px;
  padding-bottom: 46px;
  background-color: var(--grey-sh-11);

  &__header {
    @apply flex flex-col items-center;
  }

  &__gallery {
    @apply flex flex-col items-center;
    margin-top: 88px;
  }
}

.seeMore {
  @apply font-normal text-base underline;
  margin-top: 49px;
  color: var(--red1);
}