.parlantContent {
  padding-top: 122px;
  padding-bottom: 145px;
}

.parlantProjet {
  @apply grid grid-cols-2 gap-5;

  &__coordonne {
    @apply flex flex-col gap-5;
  }

  &__form {
    @apply flex flex-col items-start gap-6 pt-4 w-full;

    input {
      @apply w-full py-[10px];
      padding-inline: 17px;
      border-radius: 3px;
      background: var(--grey-sh-10);
      outline: none;
    }

    .textarea {
      @apply w-full py-[10px];
      padding-inline: 17px;
      outline: none;
      height: 144px;
      border-radius: 3px;
      background: var(--grey-sh-10);

    }
  }
}

.info {
  @apply grid grid-rows-3 gap-9;
}

.btn {
  @apply mt-4;
}