.btn {
  padding: 12px 16px;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--orange);
  border-radius: 3px;
  border: inherit;
}